<form {{on "submit" this.addTodo}}>
  <label for="todo-input" class="sr-only">Enter todo:</label>
  <input id="todo-input" type="text" class="todo-input" value={{this.text}} {{on "input" this.onChange}} />
  <button class="button" type="submit">
    Add Todo
  </button>
</form>